<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS_WebView_POC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2633DCBD2A66854B00341EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2633DCD32A66854F00341EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2633DCDD2A66855000341EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
